html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*
   * CSS image reference example.
   */
  background-image: url('./images/bg-pattern.png');
}
.form {
  text-align: center;
}
.country-container {
  display: flex;
  justify-content: center;
}

.flag {
  width: 350px;
  height: 200px;
  margin-left: 30px;
}

.input {
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 40px;
  width: 300px;
}

.listCountry {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
}
.prev {
  width: 30px;
  height: 20px;
}
